# Archivos Python
*.pyc
__pycache__/

# Entornos virtuales
venv/
env/

# Archivos temporales de sistemas operativos
.DS_Store
Thumbs.db

# Archivos de logs y debugging
*.log

# Archivos o carpetas personales
*.zip
*.bak

# Archivos de salida
salida/
temp/


# Ficheros de configuración local
.env

# Ficheros de prueba
test_informe.py
test_parser.py

